<p id="notice"><%= notice %></p>

<h1>Lista de Posts</h1>


 
    <% @posts.each do |post| %>
      <hr />
      <div class="entrada">
        <h2><%= post.titulo %></h2>
        <h3><%= post.nombre %></h3>
        <p><%= post.contenido %></p>
        <p><%= link_to 'Ver', post %> - <%= link_to 'Editar', edit_post_path(post) %> - <%= link_to 'Borrar', post, method: :delete, data: { confirm: '¿Estas Seguro?' } %></p>
      </div>
    <% end %>



<br>

<%= link_to 'Nuevo Post', new_post_path %>
